<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<p><%= link_to "Edit articles", edit_article_path(@article.id) %>
   <%= link_to article_path(@article.id), method: :delete, data: { confirm: "Delete #{@article.title}?" } do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
   <% end %>
</p>

  <p><%= link_to "Go back to articles", articles_path%></p>
